<div class="container">
  <h1 class="title">{{ title }}</h1>
  <form class="form">
    <div class="input-group">
      <label class="label" for="name">name</label>

      <!-- 
       I was use the # (hash) to tell Angular to assign those tags
        to a local variable. By adding the #title #address and #description to the appropriate <input/> 
        elements, we can pass them as variables into the addArticle() function on the button!
       -->
      <input type="text" class="input" id="name" placeholder="name" #name />
    </div>
    <div class="input-group">
      <label class="label" for="address">address</label>
      <input
        type="text"
        class="input"
        id="address"
        placeholder="address"
        #address
      />
    </div>
    <div class="input-group">
      <label class="label" for="description">description</label>
      <input
        type="text"
        class="input"
        placeholder="description"
        id="description"
        #description
      />
    </div>
    <div class="btn-container">
      <button
        type="submit"
        class="btn"
        (click)="addRestaurant(name, address, description)"
      >
        add
      </button>
    </div>
  </form>
  <div class="restaurants">
    <app-restaurant
      *ngFor="let restaurant of sortRestaurants()"
      [restaurant]="restaurant"
    ></app-restaurant>
  </div>
</div>
