<div class="restaurant">
  <div class="point">
    <h2 class="value">2</h2>
    <p>Points</p>
  </div>
  <div class="info">
    <div class="info-group">
      <div class="single-place">
        <h3>Restaurant:</h3>
        <p class="description">Name Rock Place</p>
      </div>
      <div class="single-place">
        <h3>Address:</h3>
        <p class="description">123 Rock Place</p>
      </div>
      <div class="single-place">
        <h3>Description:</h3>
        <p class="description">rock place</p>
      </div>
    </div>
    <!-- btns container -->
    <div class="btns-container">
      <button class="btn">vote up +</button>
      <button class="btn">vote down -</button>
    </div>
  </div>
</div>
