<div class="restaurant">
  <div class="point">
    <div class="value">{{ restaurant.votes }}</div>
    <p>Points</p>
  </div>
  <div class="info">
    <div class="info-group">
      <div class="single-place">
        <h3>Restaurant:</h3>
        <p class="description">{{ restaurant.name }}</p>
      </div>
      <div class="single-place">
        <h3>Address:</h3>
        <p class="description">{{ restaurant.address }}</p>
      </div>
      <div class="single-place">
        <h3>Description:</h3>
        <p class="description">{{ restaurant.description }}</p>
      </div>
    </div>
    <!-- btns container -->
    <div class="btns-container">
      <button class="btn" (click)="voteUp()">vote up +</button>
      <button class="btn" (click)="voteDown()">vote down -</button>
    </div>
  </div>
</div>
